@font-face {
	font-family: LemonTuesday;
	font-display: swap;
	src: url("../fonts/LemonTuesday.woff2") format("woff2"), url("../fonts/LemonTuesday.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: RotondaC;
	font-display: swap;
	src: url("../fonts/RotondaC-Bold.woff2") format("woff2"), url("../fonts/RotondaC-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RotondaC;
	font-display: swap;
	src: url("../fonts/RotondaC.woff2") format("woff2"), url("../fonts/RotondaC.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
