.advantage {
  text-align: center;
  margin-top: 5em;
  &__title {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 1em;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-top: 1em;
    text-align: left;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &::before {
      content: "";
      display: block;
      background: url("@img/check.png") no-repeat;
      width: 40px;
      height: 32px;
      margin: 0 4px 0 0;
    }
  }
}

@media (min-width:$mobile){
  .advantage {
    &__list {
      justify-content: center;
    }
  }
}