.certification {
  text-align: center;
  margin-top: 5em;
  &__title {
    font-size: 1.8em;
    font-weight: 700;
  }
  &__text {
    margin-top: 1em;
  }
  & #certification__gallery figure img {
    height: 150px;
  }
  & #certification__gallery figure:nth-child(3) {
    display: none;
  }
}

@media (min-width:$pc) {
  .certification {
    & #certification__gallery figure img {
      height: 300px;
    }
    & #certification__gallery figure:nth-child(3) {
      display: block;
    }
  }
}