.cosmos {
  &__belka,
  &__strelka {
    width: 10em;
  }
  &__belka {
    margin-top: 50px;
    transform: rotate(10deg);
  }
  &__strelka {
    margin-top: -30px;
    margin-left: -40px;
    transform: rotate(-10deg);
  }
  &__inner:first-child {
    display: flex;
  }
  &__inner:last-child {
    font-size: 2em;
    text-align: center;
  }
  &__title {
    font-family: "LemonTuesday";
    font-size: 2.2em;
  }
  &__tagline {
    margin-top: .8em;
  }
}
