.menu {
  &__moon {
    width: 400px;
    height: 400px;
    background: url(@img/moon.svg) 0 0 / 400px 400px no-repeat;
    animation: 90s linear 0s normal none infinite running rot;
    overflow: hidden;
  }
  &__body {
    color: #000;
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: rem(65);
    right: -200%; 
    // right: -100px;
    // overflow: auto;
    // background: url(@img/moon.svg) 0 0 / 400px 400px no-repeat;
    // background-color: transparent;
    // padding: rem(80) rem(0) rem(0) rem(100);
    z-index: 2;
    transition: right 1s ease 0s;
    
    .menu-open & {
      right: -150px;
    }
  }
  &__list {
    position: absolute;
    top: rem(100);
    left: rem(90);
  }
  &__item {
    margin-top: rem(10);
  }
}

a.menu__link {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

a.menu__link::before,
a.menu__link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a.menu__link::before {
  background-color: black;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a.menu__link::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: black;
}

a.menu__link:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

a.menu__link:hover::after {
  transform: translate3d(0, 0, 0);
}

a.menu__link span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a.menu__link:hover span {
  transform: translate3d(-200%, 0, 0);
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}