.product {
  text-align: center;
  margin-top: 5em;
  &__title {
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 1em;
  }
  &__subwrapper {
    margin-top: 2em;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    & .product__list {
      margin-top: 0;
    }
  }
  &__img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
  &__list {
    text-align: left;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2em;
  }
  &__item:last-child {
    margin-top: 1.5em;
  }
  &__text {
    display: flex;
    align-items: center;
    & span {
      font-weight: 700;
      margin-right: 3px;
    }
    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 32px;
      margin: 0 4px 0 0;
    }
    &.dimensions {
      background: url("@img/product/dimensions.png") 0 0 / 32px 32px no-repeat;
    }
    &.sachet3 {
      background: url("@img/product/sachet3.png") 0 0 / 32px 32px no-repeat;
    }
    &.sachet {
      background: url("@img/product/sachet.png") 0 0 / 32px 32px no-repeat;
    }
    &.sponge {
      background: url("@img/product/sponge.png") 0 0 / 32px 32px no-repeat;
    }
    &.box {
      background: url("@img/product/box.png") 0 0 / 32px 32px no-repeat;
    }
    &.feathers {
      background: url("@img/product/feathers.png") 0 0 / 32px 32px no-repeat;
    }
  }
  &__info:not(:last-child) {
    margin-bottom: 0.5em;
  }
  &__color {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 32px;
      margin: 0 4px 0 0;
    }
    &.blue {
      background: url("@img/product/blue.png") 0 0 / 32px 32px no-repeat;
    }
    &.pink {
      background: url("@img/product/pink.png") 0 0 / 32px 32px no-repeat;
    }
    &.turquoise {
      background: url("@img/product/turquoise.png") 0 0 / 32px 32px no-repeat;
    }
    &.lilac {
      background: url("@img/product/lilac.png") 0 0 / 32px 32px no-repeat;
    }
    &.art {
      text-transform: uppercase;
      font-size: .6em;
    }
  }

  h3.product__title  {
    font-size: 1.2em;
  }

  .fill {
    color: #5b4695;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 13px 40px 13px;
    outline: 0;
    border: 1px solid black;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }

  .fill.active {
    color: #000000;
  }

  .fill.active:hover {
    cursor: default;
  }

  .fill.active::after {
    top: 0px;
    left: 0px;
  }

  .fill:hover {
    color: #000000;
    cursor: pointer;
  }

  .fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  .fill:hover::after {
    top: 0px;
    left: 0px;
  }
}

@media (min-width:em(25)){
  .product {
    &__inner {
      margin: 0 auto;
      margin-top: 2em;
    }
  }
}

@media (min-width:$pc){
  .product{
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__subwrapper {
      &--color {
        width: 100%;
        max-width: 360px;
      }
    }
  }
}