.set {
  &__wrapper {
    @media (min-width:$tablet){
      display: flex;
      justify-content: space-around;
    }
  }
  &__picture {
    margin-top: 3em;
    position: relative;
    @media (min-width:$pc){
      max-width: 50%;
      margin-top: -15em;
    }
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      // display: block;
      // position: relative;
      color: black;
      width: 2em;
      height: 2em;
      border: 2px solid black;
      border-radius: 1em;
      &:before {
        content: attr(data-value);
        // position: absolute;
        // display: inline;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        font-size: 1.4em;
      }
      &:nth-child(1) {
        color: #fff;
        border: 2px solid #fff;
        position: absolute;
        top: 30%;
        left: 10%;
      }
      &:nth-child(2) {
        position: absolute;
        top: 87%;
        left: 10%;
      }
      &:nth-child(3) {
        position: absolute;
        top: 65%;
        left: 88%;
      }
    } 
  }
  &__img {
    width: 100%;
    @media (min-width:$tablet){
      display: block;
      margin: 0 auto;
      max-width: rem(450);
    }
  }
  &__list {
    margin-top: 2em;
  }
  &__item:not(:last-child) {
    margin-bottom: 1em;
    @media (min-width:$tablet) {
      margin-bottom: 1.5em;
    }
  }
}